
<div class="container">
  <section class="current-service">
    <h3>Atendimento atual</h3>
    <p class="current-number">6587425</p>
  </section>
  
  <section class="queue">
    <h3>Fila</h3>
    <div class="queue-list">
      <p>790087</p>
      <p>548723</p>
      <p>658742</p>
      <p>726589</p>
    </div>
  </section>
  
  <div class="buttons">
    <button class="history-btn">Ver histórico</button>
    <button class="call-btn">Chamar</button>
    <button class="add-btn">Adicionar</button>
  </div>

  <footer>
    <p>Zero Fila</p>
    <p class="powered-by">Powered by H&V</p>
  </footer>
</div>