<div class="container">
    <div class="blue-section">
        <div class="image-container">
            <img src="logo2.png" alt="FIESC">
        </div>
    </div>
    <div class="login-section">
        <form action="#" #form>
            <div class="input-user">
                <label for="txtUser">Usuário</label>
                <input type="text" id="txtUser" name="txtUser" placeholder="Email">
            </div>
            <div class="input-password">
                <label for="txtPassword">Senha</label>
                <input type="password" id="txtPassword" name="txtPassword" placeholder="Senha">
            </div>
            <div class="button-login">
                <button>Login</button>
            </div>
        </form>
    </div>
</div>
