.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  .login-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    padding: 40px;
  }
  
  form {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .input-user,
  .input-password {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .button-login {
    text-align: center;
  }
  
  button {
    background-color: #045cac;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #045cac;
  }
  
  .blue-section {
    flex: 1;
    background-color: #045cac;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
    
    .login-section,
    .blue-section {
      flex: none;
      height: 50vh;
    }
  }

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    max-width: 70%;
    height: auto;
    max-height: 80vh;
}