.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100%;
  width: 100%;
}

.title {
  font-size: 14px;
  color: #aaa;
}

.fila {
  text-align: center;
  margin-bottom: 30px;
}

.fila span {
  font-size: 14px;
  color: #aaa;
}

.filas-btn {
  display: flex; /* Ativa Flexbox para alinhar itens dentro do botão */
  align-items: center; /* Alinha ícone e texto verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  gap: 10px; /* Espaço entre o ícone e o texto */
  width: 340px;
  font-weight: 500;
  height: 100px;
  font-size: 30px;
  background: linear-gradient(45deg, #303030, #000000);
  color: #ffffff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'Quicksand';
  border: 2px solid #1a71c2;
}

.button-icon {
  width: 25px; /* Ajusta o tamanho do ícone */
  height: 25px;
}


.filas-btn:hover {
  background-color: #333;
}

.footer-text {
  text-align: center; /* Centraliza o texto */
  margin-top: 100px; /* Espaçamento acima do texto */
  font-size: 14px; /* Tamanho do texto */
  color: #888; /* Cor do texto */
}

.footer-text strong {
  color: #cecece; /* Destaque para o texto */
}

.powered-by {
  font-size: 12px; /* Texto menor */
  margin-top: 5px; /* Espaçamento menor */
  color: #ccc; /* Cor mais clara */
}
