<p-card class="form-card">
    <div class="logo-container">
        <img src="assets/logo-sushi.png" alt="Logo Sushi" class="logo">
    </div>
    <p class="description-text">Para cadastrar sua empresa, insira o nome da empresa e um nome de usuário.</p>
    
    <form #form="ngForm" class="form-container">
        <div class="input-group">
            <input 
                ngModel 
                pInputText 
                type="text" 
                id="companyName" 
                name="companyName" 
                placeholder="Nome da Empresa"
                required
                class="input-field"
            >
        </div>
        <div class="input-group">
            <input 
                ngModel 
                pInputText 
                type="text" 
                id="username" 
                name="username" 
                placeholder="Nome de Usuário"
                required
                class="input-field"
            >
        </div>
        <div class="button-container">
            <button pButton type="button" label="Cadastrar" class="submit-button"></button>
        </div>
    </form>
    
    <div class="footer-text">
        <p>zero <strong>fila</strong></p>
        <p class="powered-by">Powered by H&V</p>
    </div>
</p-card>
