body {
  margin: 0;
  background-color: #ffffff;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 100%;
}

.login-card {
  text-align: center;
  max-width: 320px;
  width: 100%;
  padding: 2rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #dadada;
  line-height: 1.2;
}

.login-input {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 10px;
  background-color: #e9e9e9;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.submit-button {
  background-color: black;
  padding: 10px 20px; /* Tamanho do botão */
  font-size: 16px; /* Tamanho do texto */
  color: #ffffff; /* Texto branco */
  border-radius: 10px; /* Cantos arredondados */
  cursor: pointer; /* Cursor de clique */
  font-family: quicksand;
}

.submit-button:hover {
  background-color: rgb(129, 167, 192);
}

.footer {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #bbb;
}
