<div class="login-container">
  <div class="login-card">
    <h1 class="title">zero<br>fila</h1>
    <p class="subtitle">Insira seu login e senha para acessar o painel.</p>
    <form class="p-fluid">
      <div class="field">
        <input
          pInputText
          type="text"
          placeholder="Login"
          class="login-input"
        />
      </div>
      <div class="field">
        <input
          pInputText
          type="password"
          placeholder="Senha"
          class="login-input"
        />
      </div>
      <button pButton type="submit" label="Entrar" class="login-button" (click)="onLogin()">Login</button>
    </form>
    <p class="footer">Powered by H&V</p>
  </div>
</div>